[submodule "Notes"]
	path = Notes
	url = git@github.com:Ccldada/Notes.git
[submodule "algorithm"]
	path = algorithm
	url = git@github.com:Ccldada/algorithm.git
[submodule "WCMiniProgram"]
	path = WCMiniProgram
	url = git@github.com:Ccldada/WCMiniProgram.git
